.invoiceRow {
    float: bottom;
    width: 1000px;
}

.invoiceCell {
    float: left;
    width: 50%;
    vert-align: bottom;
    max-height: available;
    min-height: available;
}

.invoiceLeft {
    width: 50%;
}

.invoiceRight {
    width: 50%;

}

